.pixel:hover {
    stroke: #000;
    stroke-width: 1px;
}
.tick:hover {
    fill: #aaa;
    /* stroke: #000;  
stroke-width: 1px;*/
}
div.tooltip {
    position: absolute;
    text-align: left;
    padding: 8px;
    font: 12px sans-serif;
    background: #000;
    color: #ddd;
    border: solid 1px #aaa;
    border-radius: 4px;
    pointer-events: none;
}
