@font-face {
     font-family: National; src: url('//www.usc.edu/assets/fonts/NationalWeb-Regular.eot'); src: local(':)'), url('//www.usc.edu/assets/fonts/NationalWeb-Regular.woff') format('woff'), url('//www.usc.edu/assets/fonts/NationalWeb-Regular.ttf') format('truetype'), url('//www.usc.edu/assets/fonts/NationalWeb-Regular.svg') format('svg');
     font-weight: 500;
     font-style: normal;
 }

/* Custom CSS */

/* Navbar */

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #FFCC00;
}

/* Buttons */

.btn-default {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.btn-default:hover {
    color: #fff;
    background-color: #FFCC00;
    border-color: #fff;
}

.btn-default:focus,
.btn-default.focus {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

/* Other classes */

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

#intro .title {
    font-size: 50px;
}

#D3 .thumbnail{
    min-width: 400px;
    min-height: 400px;
    padding: 2mm;
}

#D3 .thumbnail h3{
   padding: 3mm 0cm 0cm 0cm;
}

#D3 .thumbnail img{
    height: 200px;
    width: 400px;
}

#D3other .thumbnail{
    width:400px;
    height:320px;
    padding: 2mm;
}

#D3other .thumbnail img{
    height: 200px;
    width: 400px;
}

#about .stylish-panel {
    padding: 20px 0;
    text-align: center;
}
#about .stylish-panel > div > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
}
#about .stylish-panel > div:hover > div{
    margin-top: -10px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    transition: 0.5s;
}

#about .stylish-panel > div:hover img {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
