/**********************************************
  *   Generic Mods to Bootstrap
  *********************************************/

html, body {
  background-color: #eee;
}
/*
body {
  padding-top: 40px;
}
*/
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.container > footer p {
  text-align: center;
}

.navbar-brand {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background-color: transparent;
}

.navbar .nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
	font-weight: normal;
}

.container-fluid {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #990000;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
  border-color: #e7e7e7;
}

/* specific additions for the example index page */
.nav-logo img {
  margin-top: 4px;
}

h4 {
  line-height: 28px;
  margin-bottom: 10px;
}

