body {
    font-family:"Lucida Grande","Droid Sans",Arial,Helvetica,sans-serif;
    /*background-color: #d0cccc;*/
    font: 14px;
}

 .legend {
        border: 1px solid #555555;
        border-radius: 5px 5px 5px 5px;
        font-size: 1em;
        margin: 10px;
        padding: 8px;
    }